{{ block title }}
    <b>Résultats des votes</b>
{{ endblock }}

{{ block content }}
<p>
    Voici les résultats du vote pour chaque partie :<br>
    <br>
    <i>VOTE DE LA PARTIE 1 :</i> {{ for_vote1 }} membres ont voté pour la mise en place de la taxe. {{ against_vote1 }} membres ont voté contre la mise en place.<br>
    <br>
    {{ if vote1 == "Adopted" }}
    La mise en place de la taxe a remporté le vote. Si ce vote est choisi alors, il y aura une taxe lors de l'étape suivante.<br>
    {{ endif }}
    {{ if vote1 == "Not Adopted" }}
    La non mise en place de la taxe a remporté le vote. Si ce vote est choisi alors, il n'y aura pas de taxe lors de l'étape suivante.<br>
    {{ endif }}
    {{ if vote1 == "Tie" }}
    Il y a match nul. Si ce vote est choisi pour déterminer la (non) mise en place de la taxe, alors nous départagerons le vote grâce à un lancer de dé.
    Si le nombre est pair, alors il y aura la mise en place de la taxe. Si le nombre est impair, alors il n'y aura pas de mise en place de la taxe.<br>
    {{ endif }}
    <br>
   <i>VOTE DE LA PARTIE 2 :</i> {{ for_vote2 }} membres ont voté pour la mise en place de la taxe. {{ against_vote2 }} membres ont voté contre la mise en place.<br>
    <br>
    {{ if vote2 == "Adopted" }}
    La mise en place de la taxe a remporté le vote. Si ce vote est choisi alors, il y aura une taxe lors de l'étape suivante.<br>
    {{ endif }}
    {{ if vote2 == "Not Adopted" }}
    La non mise en place de la taxe a remporté le vote. Si ce vote est choisi alors, il n'y aura pas de taxe lors de l'étape suivante.<br>
    {{ endif }}
    {{ if vote2 == "Tie" }}
    Il y a match nul. Si ce vote est choisi pour déterminer la (non) mise en place de la taxe, alors nous départagerons le vote grâce à un lancer de dé.
    Si le nombre est pair, alors il y aura la mise en place de la taxe. Si le nombre est impair, alors il n'y aura pas de mise en place de la taxe.<br>
    {{ endif }}
    <br>
    <i>VOTE DE LA PARTIE 3 :</i> {{ for_vote3 }} membres ont voté pour la mise en place de la taxe. {{ against_vote3 }} membres ont voté contre la mise en place.<br>
    <br>
    {{ if vote3 == "Adopted" }}
    La mise en place de la taxe a remporté le vote. Si ce vote est choisi alors, il y aura une taxe lors de l'étape suivante.<br>
    {{ endif }}
    {{ if vote3 == "Not Adopted" }}
    La non mise en place de la taxe a remporté le vote. Si ce vote est choisi alors, il n'y aura pas de taxe lors de l'étape suivante.<br>
    {{ endif }}
    {{ if vote3 == "Tie" }}
    Il y a match nul. Si ce vote est choisi pour déterminer la (non) mise en place de la taxe, alors nous départagerons le vote grâce à un lancer de dé.
    Si le nombre est pair, alors il y aura la mise en place de la taxe. Si le nombre est impair, alors il n'y aura pas de mise en place de la taxe.<br>
    {{ endif }}
    <br>
    Nous allons maintenant procéder au tirage au sort de la bille afin de déterminer quel vote sera choisi afin d'implémenter ou pas la taxe.
</p>

{{ endblock }}


